.photograph-header {
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    /* gap: 32px 70px;  */
    grid-template-areas: 
        "photographer-img"
        "profil-photographer"
        "photographer-contact"; 
    justify-items: center;
    align-items: center;
    background-color: #FAFAFA;
    padding: 2rem;
    margin-bottom: 4rem;
    border-radius: 0.5rem;
}

.photographer-img { 
    grid-area: photographer-img;
}

.profil-photographer { 
    grid-area: profil-photographer;
    text-align: center;
}

.photographer-contact { 
    grid-area: photographer-contact; 
}

.photographer-img img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

/*-----------------------------------------*/

.medias-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, 48%);
    justify-content: space-between;
    margin-bottom: 2rem;
}

.media-photographer {
    width: 100%;
    max-width: 350px;
    margin-bottom: 2rem;
}


.media-photographer .media .media-thumbnail {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 0.5rem;
}

.media-photographer .media-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.media-photographer .media-description h3 {
    color: #911C1C;
}

.media-photographer .media-description .like-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.media-photographer .media-description .like-numbers {
    margin: 0 0.5rem;
}

.media-photographer .media-description .like-icon {
    color: #911C1C;
}

/*-----------------------------------------*/

#encart-tarif {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DB8876;
    border-radius: 0.5rem 0.5rem 0 0;
    position: fixed;
    bottom: 0;
    right: 5%;
}

#encart-tarif .photographer-price,
#encart-tarif .like-media {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1rem 1.5rem;
}


/*-----------------------------------------*/

#contact_modal {
    display: none;
    /* display: block; */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0, 0.8);
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: 4rem auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 0.5rem;
    padding: 0 1rem;
    box-sizing: border-box;
    font-size: 1.5rem;
}

.form-field textarea {
    width: 100%;
    border-radius: 0.5rem;
    border: none;
}


/*-----------------------------------------*/


@media screen and (min-width: 600px) {

    .photograph-header {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 32px 32px; 
        grid-template-areas: 
            "profil-photographer  photographer-img"
            "photographer-contact photographer-img"
    }

    .medias-section {
        grid-template-columns: repeat(auto-fill, 30%);
    }

}

/*-----------------------------------------*/


@media screen and (min-width: 993px) {

    .photograph-header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr; 
        gap: 32px 32px; 
        grid-template-areas: 
            "profil-photographer photographer-contact photographer-img"
    }

    .profil-photographer { 
        text-align: left;
    }

    .medias-section {
        grid-template-columns: repeat(auto-fill, 23%);
    }

}