#contact_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(196, 196, 196, 0.4);
}

.modal {
    border-radius: 0.5rem;
    background-color: #DB8876;
    width: 50%;
    padding: 35px;
    margin: 4rem auto;
}

.modal header {
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 4rem;
    font-weight: 400;
    text-align: left;
    margin: 0;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
}

#message {
    width: 100%;
    height: 200px;
    border-radius: 0.5rem;
    border: none;
}

/*-----------------------------------------------------------*/


.photographerCard {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /* gap: 32px 70px;  */
    grid-template-areas:
        "userPicture"
        "informations"
        "contactButton";
    justify-items: center;
    align-items: center;
    background-color: #FAFAFA;
    padding: 4rem 2rem;
    margin-bottom: 4rem;
    border-radius: 0.5rem;
}

.photographerCard h1 {
    color: #DB8876;
}

.photograph-header .contact_button {
    grid-area: contactButton;
}

.informations {
    grid-area: informations;
    text-align: center;
}

.userPicture {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    grid-area: userPicture;
}

.photographerCard h1 {
    font-size: 64px;
    font-weight: 400;
    margin: inherit;
}

.photographerCard h2 {
    font-size: 24px;
    font-weight: 400;
    margin: inherit;
    margin-bottom: 10px;
    color: #901C1C;
}

.photographerCard p {
    font-size: 18px;
    font-weight: 400;
    margin: inherit;
}

.photographerCard .tagline {
    color: #525252;
}

/*-----------------------------------------------------------*/

/* 3- Style apporté à toute la section portant sur le filtre et son dropdown.*/
#filter_section {
    position: absolute;
    display: flex;
    gap: 2rem;
    align-items: baseline;
    margin-bottom: 2rem;
}

#filter {
    width: 275px !important;
    text-align: left;
}

label {
    font-size: 18px;
    font-weight: 700;
    position: relative;
}

select {
    appearance: none;
}

#dropdown__menu {
    background-color: #901C1C;
    border-radius: 0.5rem;
    color: white;
    margin-top: -6px;
    display: none;
}

#dropdown__menu_hidden {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: inherit;
    margin: inherit;
    padding-top: 0.875rem;
}

#dropdown__menu_hidden li {
    width: -webkit-fill-available;
    padding: 1.5rem;
    text-align: left;
    border-top: 2px solid #fff;
    cursor: pointer;
    font-weight: bold;
}

#dropdown__menu_hidden li:hover {
    background-color: #DB8876;
    color: black;
}

.select__container {
    display: flex;
    flex-direction: column;
    position: relative;
}

#select__container-icon {
    position: absolute;
    color: #fff;
    top: 25px;
    right: 1rem;
    cursor: pointer;
    transition: rotate 250ms ease-out;
}

.isActive {
    rotate: 180deg;
}

.not-hidden {
    display: block !important;
}

/*-----------------------------------------------------------*/


.mediaCard {
    display: grid;
    grid-template-columns: repeat(auto-fill, 48%);
    justify-content: space-between;
    margin-top: 12rem;
    margin-bottom: 2rem;
}

.mediaCard article {
    width: 100%;
    max-width: 350px;
    margin-bottom: 2rem;
}

.mediaCard img,
.mediaCard video {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 0.5rem;
    cursor: pointer;
    object-position: center;
}

.descriptionPicture {
    display: flex;
    justify-content: space-between;
    color: #901C1C;
}

/*-----------------------------------------------------------*/

/* 5- Style apporté au bandeau récapitulatif d'un photographe. */
.dayPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DB8876;
    border-radius: 0.5rem 0.5rem 0 0;
    position: fixed;
    bottom: 0;
    right: 5%;
    width: 264px;
    padding: 1rem 1.5rem;
}

.dayPrice p {
    font-size: 1.5rem;
    font-weight: 500;
}


/*-----------------------------------------------------------*/


#medias_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 1);
}

.modal_childrens {
    width: 60%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
}

.modal-content,
#carousel {
    width: 100%;
    height: 100%;
    margin: 0px 20px;
}

#carousel img,
#carousel video {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

/*-----------------------------------------------------------*/

/* 7- Style apporté à la modale du carroussel et aux boutons previous, next et close. */
.mediaModal {
    height: 100%;
    display: none;
}

.mediaModal.active {
    display: block;
}

.mediaModal p {
    font-size: 1.5rem;
    font-weight: 400;
    color: #901C1C;
}

.modal-content {
    display: flex;
    align-items: center;
    background-color: white;
}

.previous-button {
    background: url('/assets/icons/prev.png') center no-repeat;
    width: 50px;
    height: 50px;
    object-fit: cover;
    cursor: pointer;
    background-size: 20px;

}

#left-side {
    display: flex;
    height: 50%;
    flex-direction: column-reverse;
    align-items: center;
}

#right-side {
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: space-between;
    align-items: center;
}

.close-button {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: 0.5rem;
    background-color: transparent;
    border: none;
}

.close-button svg path {
    fill: #911C1C;
}

.next-button {
    background: url('/assets/icons/next.png') center no-repeat;
    width: 50px;
    height: 50px;
    object-fit: cover;
    cursor: pointer;
    background-size: 20px;

}

.next-button img {
    width: 30px;
    height: 30px;
}

/*-----------------------------------------------------------*/

.contact_button,
.send_button,
#filter {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 1.5rem 1rem;
    border: 2px solid #901C1C;
    background-color: #901C1C;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.contact_button:hover,
.contact_button:focus,
.send_button:hover {
    background-color: #DB8876;
    border: 2px solid #DB8876;
    color: black;
}

.send_button:hover {
    border: 2px solid white;
}

/*-----------------------------------------------------------*/

@media screen and (min-width: 600px) {

    .photographerCard {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 32px 0;
        grid-template-areas:
            "informations  userPicture"
            "contactButton userPicture"
    }

    .mediaCard {
        grid-template-columns: repeat(auto-fill, 30%);
    }

}

@media screen and (min-width: 993px) {

    .photographerCard {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 32px 32px;
        grid-template-areas:
            "informations contactButton userPicture"
    }

    .informations {
        text-align: left;
    }

    .mediaCard {
        grid-template-columns: repeat(auto-fill, 23%);
    }

}