.photograph-header {
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    /* gap: 32px 70px;  */
    grid-template-areas: 
        "photographer-img"
        "profil-photographer"
        "photographer-contact"; 
    justify-items: center;
    align-items: center;
    background-color: #FAFAFA;
    padding: 2rem;
    margin-bottom: 4rem;
    border-radius: 0.5rem;
}

.photographer-img { 
    grid-area: photographer-img;
}

.profil-photographer { 
    grid-area: profil-photographer;
    text-align: center;
}

.profil-photographer-h1 { 
    font-size: 4rem;
    color: #D3573C;
    font-weight: 400;
}

.photogapher-location {
    font-size: 1.5rem;
    color: #901C1C;
}

.photographer-contact { 
    grid-area: photographer-contact; 
}

.photographer-img img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

/*-----------------------------------------*/

.medias-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, 48%);
    justify-content: space-between;
    margin-bottom: 2rem;
}

.media-photographer {
    width: 100%;
    max-width: 350px;
    margin-bottom: 2rem;
}


.media-photographer .media .media-thumbnail {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 0.5rem;
}

.media-photographer .media-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.media-photographer .media-description h2 {
    font-weight: 400;
    font-size: 1.5rem;
    color: #911C1C;
}

.media-photographer .media-description .like-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.media-photographer .media-description .like-numbers {
    margin: 0 0.5rem;
    font-weight: 500;
    font-size: 1.5rem;
    color: #911C1C;
}

.media-photographer .media-description .like-icon {
    color: #911C1C;
    transition: 0.3s;
    cursor: pointer;
}

.media-photographer .media-description .like-icon:hover,
.media-photographer .media-description .like-icon[data-like="true"] {
    color: #D3573C;
}

/*-----------------------------------------*/

#encart-tarif {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DB8876;
    border-radius: 0.5rem 0.5rem 0 0;
    position: fixed;
    bottom: 0;
    right: 5%;
    width: 320px;
}

#encart-tarif .photographer-price,
#encart-tarif .total-like-media {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1rem 1.5rem;
}


/*-----------------------------------------*/

#contact_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(196, 196, 196, 0.4);
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: 4rem auto;
}

.modal header {
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.modal #modal-close-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    margin-top: 0;
}

.contact-form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.contact-form label {
    color: #312E2E;
    font-size: 36px;
}

.contact-form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

.contact-form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 0.5rem;
    padding: 0 1rem;
    box-sizing: border-box;
    font-size: 1.5rem;
}

.form-field textarea {
    width: 100%;
    border-radius: 0.5rem;
    border: none;
}


/*-----------------------------------------*/

.lightbox {
    display: none;
    background-color: #fff;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.lightbox-frame {
    width: max-content;
    /* max-width: 1200px; */
    max-width: 70vw;
    /* height: auto; */
    max-height: 80vh;
    margin: auto;
    border-radius: 0.5rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lightbox-frame img,
.lightbox-frame video {
    width: 100%;
    height: 100%;
    max-height: 80vh;
    object-fit: scale-down;
    border-radius: 0.5rem;
}

.lightbox-frame .media-lightbox {
    width: fit-content;
    margin: auto;
    position: relative;
}

.lightbox #lightbox-close-btn {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: 0.5rem;
    background-color: transparent;
    border: none;
}

.lightbox #lightbox-close-btn svg path {
    fill: #911C1C;
}

.lightbox #previous,
.lightbox #next {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    color: #911C1C;
    font-size: 3rem;
    cursor: pointer;
}

.lightbox #previous {
    left: -4rem;
}

.lightbox #next {
    right: -4rem;
}

.hide {
    display: none;
}

.lightbox .title-media {
    font-size: 1.5rem;
    color: #911C1C;
}

/*-----------------------------------------*/

.form-filters {
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
}

.form-filters label {
    margin-right: 1.5rem;
    font-size: 1.125rem;
    font-weight: 700;
}

.form-filters .filter-select {
    background: #901C1C;
    font-size: 1.125rem;
    font-weight: 700;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 1.5rem;
}

.filter-select option:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

select option:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

select option {
    background-color: #901C1C;
    padding: 24px;
}

select option:hover {
    background-color: #eee;
}

select option:selected {
    background-color: #007bff;
    color: white;
}

.form-filters .filter {
    padding: 0.5rem 0;
    border-bottom: 1px solid #fff;
}

/*-----------------------------------------*/


@media screen and (min-width: 600px) {

    .photograph-header {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 32px 32px; 
        grid-template-areas: 
            "profil-photographer  photographer-img"
            "photographer-contact photographer-img"
    }

    .medias-section {
        grid-template-columns: repeat(auto-fill, 30%);
    }

}

/*-----------------------------------------*/


@media screen and (min-width: 993px) {

    .photograph-header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr; 
        gap: 32px 32px; 
        grid-template-areas: 
            "profil-photographer photographer-contact photographer-img"
    }

    .profil-photographer { 
        text-align: left;
    }

    .medias-section {
        grid-template-columns: repeat(auto-fill, 23%);
    }

}