@import url("photographer.css");

/* ---- Dans ce fichier vous trouverez le CSS relatifs aux éléments suivants: ----
    1- Style Général
    2- Div photographe page d'accueil
    3- Système de Like
    4- Boutons du site 
*/

/*-----------------------------------------------------------*/

/* 1- Style générale du site. */
body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    width: 90%;
    max-width: 1400px;
    margin: auto;
}


header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.logo {
    margin-bottom: 2rem;
}

h1 {
    color: #901C1C;
}

a {
    text-decoration: none;
}

h3 {
    color: #901C1C;
    font-size: 13px;
    font-weight: 400;
}

article h2,
article h3,
article .tagline,
article .price {
    margin: 2px !important;
}

.tagline {
    font-size: 10px;
    color: black;
}

.price {
    color: #757575;
    font-weight: 400;
    font-size: 9px;
}

.video {
    object-fit: cover;
    cursor: pointer;
}

/*-----------------------------------------------------------*/

.photographer_section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 70px;
    margin-bottom: 2rem;
}

.photographer_section article {
    text-align: center;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    font-weight: 400;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.photographer_section article a:hover img {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.photographer_section article a:hover h2 {
    color: #901C1C;
}

/*-----------------------------------------------------------*/

/* 3- Style apporté au système de like du site. */
.likes {
    display: flex;
    align-items: center;
    gap: 5px;
}

.heart {
    cursor: pointer;
}

.heartliked {
    opacity: 40%;
}

.heart,
.heart2 {
    width: 19px !important;
    height: 19px !important;
}


/*-----------------------------------------------------------*/

@media screen and (min-width: 600px) {

    header {
        flex-direction: row;
        justify-content: space-between;
    }

    .logo {
        margin-bottom: 0;
    }

    .photographer_section {
        grid-template-columns: 1fr 1fr;
        gap: 70px;
    }
}

@media screen and (min-width: 993px) {
    .photographer_section {
        grid-template-columns: 1fr 1fr 1fr;
    }
}